.detail-container{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    background-color:#D2B48C;
    padding: 50px;
    border-radius: 20px;
     box-shadow: 0px 0px 10px 1px rgb(90, 61, 61);
    
}

.detail-header{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}

.ingredients-list{
   margin-left: 20px;
   margin-bottom: 15px;
   margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  gap: 1px;
  width: 400px;
  
}
.instructions-text{
    margin-left: 5px;
   margin-bottom: 15px;
   margin-top: 15px;
}
.links-section h2{
    margin-bottom: 30px;
}
.external-links{
    display: flex;
    gap: 15px;
}
